.container-login {
    display: flex;
    width: 700px; /* Ajuste la largeur selon ton besoin */
    max-width: 900px; /* Limite la largeur maximale */
    height: auto; /* Réduis un peu la hauteur pour qu'elle s'adapte à l'écran */
    border-radius: 10px;
    box-shadow: 15px 15px 15px rgba(36, 35, 35, 0.8); 
}

/* Partie gauche avec le logo */
.login-left {
    
    background-color: #f8f2f2; /* Bleu ciel */
    color: red;
    display: flex;
    max-width: 40%;
    flex-direction : column;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
    border-radius: 10px 0 0 10px; /* Coins arrondis à gauche */
}

.login-left h3 {
    color: black;
    font-size: 16px;

    
}

.login-left h1, h2, h3{
    margin: 0; ;
    padding: 5px 0;
    text-align: center;
}

.login-left img {
    max-width: 90%;
    height: auto;
}

.login-left h3 {
    color: black;
}

/* Partie droite avec le formulaire */
.login-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ececec;
    width: 100%;
    border-radius: 0 10px 10px 0; /* Coins arrondis à droite */

    box-sizing: border-box;
}

.login-right form {
    width: 80%; /* Réduire un peu la largeur pour un meilleur espacement */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:12px;
}

.login-right label {
    margin-top: 20px;
    font-weight: bold;
}

.login-right username, password {
    width: 100%;
    padding: 10px 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
}

.login-right input {
    width: 100%;
    padding: 10px 5px ;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-right button {
    
    background-color: #5ff0e4;
    width: 100px;
    border: 1px solid #ccc;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    border-radius: 10px;
    padding: 8px 0;
}

.login-right button:hover {
    background-color: #42aebf;
}

.login-right p {
    margin-top: 20px 90px 0 0;
    font-size: 14px;
}

.forgot-password {
    text-align: right;
    margin: 5px 0 15px 0;
}

.forgot-password a {
    color: #666;
    font-size: 0.9em;
    text-decoration: none;
    margin: 0 60px 0 0;
}

.forgot-password a:hover {
    text-decoration: underline;
}

/* ✅ Responsive : Réduction de la largeur sur petits écrans */

@media (max-width: 768px) {
    .container-login {
        width: 90%;
        max-width: 350px;
    }
    .login-left {
        padding: 10px;
    }
    .login-right {
        padding: 10px;
    }
}

.custom-loader {
    --d:22px;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    color: #F40000;
    box-shadow: 
      calc(1*var(--d))      calc(0*var(--d))     0 0,
      calc(0.707*var(--d))  calc(0.707*var(--d)) 0 1px,
      calc(0*var(--d))      calc(1*var(--d))     0 2px,
      calc(-0.707*var(--d)) calc(0.707*var(--d)) 0 3px,
      calc(-1*var(--d))     calc(0*var(--d))     0 4px,
      calc(-0.707*var(--d)) calc(-0.707*var(--d))0 5px,
      calc(0*var(--d))      calc(-1*var(--d))    0 6px;
    animation: s7 1s infinite steps(8);
  }
  
  @keyframes s7 {
    100% {transform: rotate(1turn)}
  }