<app-sharedheader [active]="'vehicules'"></app-sharedheader>

<!-- Masquer la liste si on est en création ou édition -->
<div class="table-container" *ngIf="!selectedVehicule && !isCreating">
  <div class="table-header">
    <h3>Liste des Véhicules</h3>

    <button class="btn-create" (click)="startCreating()">
      <i class="fas fa-plus"></i>Créer un véhicule
    </button>
  </div>
  <div class="table-responsive">
    <table class="vehicules-table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Immatriculation</th>
          <th>Numéro Châssis</th>
          <th>Marque</th>
          <th>Modèle</th>
          <th>Carburant</th>
          <th>Mis en circulation</th>
          <th>Date Achat</th>
          <th>Prix Achat</th>
          <th>Kilométrage Achat</th>
          <th>Propriétaire</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let vehicule of vehicules">
          <td>{{ vehicule.id }}</td>
          <td>{{ vehicule.immat }}</td>
          <td>{{ vehicule.numero_chassis }}</td>
          <td>{{ vehicule.marque }}</td>
          <td>{{ vehicule.modele }}</td>
          <td>{{ vehicule.carburant }}</td>
          <td>{{ vehicule.dmec | date:'dd/MM/yyyy' }}</td>
          <td>{{ vehicule.date_achat | date:'dd/MM/yyyy' }}</td>
          <td class="text-right"> {{ vehicule.prix_achat }} €</td>
          <td>{{ vehicule.kilometrage_achat | number }} km</td>
          <td>{{ vehicule.utilisateur.id+"-"+vehicule.utilisateur.prenom+" "+vehicule.utilisateur.nom }}</td>
          <td class="actions-cell">
            <button class="btn-edit" (click)="editVehicule(vehicule)">
              <i class="fas fa-edit"></i> Modifier
            </button>
            <button class="btn-delete" (click)="deleteVehicule(vehicule.id!)">
              <i class="fas fa-trash-alt"></i> Supprimer
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- Formulaire d'ajout/modification -->
<div class="form-container" *ngIf="selectedVehicule || isCreating">
  <h1 *ngIf="selectedVehicule">Modification d'un véhicule</h1>
  <h1 *ngIf="!selectedVehicule">Création d'un véhicule</h1>
  <h3>Informations du véhicule</h3>
  <form [formGroup]="vehiculeForm" (ngSubmit)="submitForm()">
        <div class="form-row">
          <div class="form-group">
            <label>Immatriculation</label>
            <input type="text" formControlName="immat" required>
          </div>
          <div class="form-group">
            <label>Numéro de châssis</label>
            <input type="text" formControlName="numero_chassis" required>
          </div>
        </div>
        
        <div class="form-row">
          <div class="form-group">
            <label>Marque</label>
            <input type="text" formControlName="marque" required>
          </div>
          <div class="form-group">
            <label>Modèle</label>
            <input type="text" formControlName="modele">
          </div>
        </div>
        
        <div class="form-row">
          <div class="form-group">
            <label>Carburant</label>
            <select formControlName="carburant" required>
              <option value="Essence">Essence</option>
              <option value="Diesel">Diesel</option>
              <option value="Hybride">Hybride</option>
              <option value="Electrique">Électrique</option>
            </select>
          </div>
          <div class="form-group">
            <label>Mis en circulation le</label>
            <input type="date" formControlName="dmec" required>
          </div>
        </div>
        
        <div class="form-row">
          <div class="form-group">
            <label>Date d'achat</label>
            <input type="date" formControlName="date_achat" required>
          </div>
          <div class="form-group">
            <label>Prix d'achat (€)</label>
            <input type="number" formControlName="prix_achat" required>
          </div>
        </div>
        
        <div class="form-row">
          <div class="form-group">
            <label>Kilométrage à l'achat</label>
            <input type="number" formControlName="kilometrage_achat" required>
          </div>
        </div>

        <div class="form-group">
          <label>Propriétaire </label>
          <select formControlName="utilisateur_id" required>
            <option *ngFor="let user of utilisateurs" [value]="user.id">
              {{ user.prenom }} {{ user.nom }} ({{ user.id }})
            </option>
          </select>
        </div>
        
        <div class="form-actions">
          <button type="submit" class="btn-save" [disabled]="!vehiculeForm.valid">Enregistrer</button>
          <button type="button" class="btn-cancel" (click)="resetForm()">Annuler</button>
        </div>
      </form>
    </div>    