<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Fichier CSS personnalisé -->
    <link rel="stylesheet" href="controles.component.css">
    
    <title>CarMa</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="#">
        <img src="./assets/images/Logo.png" alt="Logo CarMa" height="40"> </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ml-auto">
          <a class="nav-item nav-link" href="accueil">Accueil</a>
          <a class="nav-item nav-link" href="vehicules">Véhicules</a>
          <a class="nav-item nav-link" href="assurances">Assurances</a>
          <a class="nav-item nav-link active" href="controles">Contrôles techniques</a>
          <a class="nav-item nav-link" href="consommables">Consommables</a>
          <a class="nav-item nav-link" href="entrereps">Entretiens & réparations</a>
          <a class="nav-item nav-link" href="admin">Admin</a>
          <a class="nav-item nav-link logout-link" href="index.html">Logout</a>
        </div>
      </div>
    </nav>


