/* Applique Flexbox à la navbar pour forcer l'alignement à droite */
.navbar-collapse {
    display: flex;
    justify-content: flex-end; /* Force l'alignement à droite */
}

/* Ajustement pour la navbar */
.navbar-nav {
    margin-left: 0; /* Pas de marge à gauche */
}

/* Pour s'assurer que la navbar ne prenne pas trop d'espace vertical */
.navbar {
    width: 100%;
}

/* Ajustement de la hauteur du body si nécessaire */
body {
    height: 100vh; /* Remplir toute la hauteur de l'écran */
    margin: 0; /* Retirer les marges par défaut */
    display: flex; /* Activer Flexbox */
    justify-content: center; /* Centrer horizontalement */
    align-items: center; /* Centrer verticalement */
}

/* Stylisation du footer */
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #070707;
    color: white;
    text-align: center;
    font-size: 10px;
}